@model BugTracker.ViewModels.DashboardVM
@using BugTracker.Helpers
@using Microsoft.AspNet.Identity



    <div class="">
        <div class="row top_tiles">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-tasks"></i></div>
                    <div class="count">@Model.ProjectData.ProjectCnt</div>
                    <h3>Total Projects</h3>
                    <p><a href="@Url.Action("Index", "Projects")">View Project Index</a></p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-tags"></i></div>
                    <div class="count">@Model.TicketData.TicketCnt</div>
                    <h3>Total Tickets</h3>
                    <p><a href="@Url.Action("Index", "Tickets")">View Ticket Index</a></p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-exclamation-triangle"></i></div>
                    <div class="count">@Model.TicketData.UnassignedTicketCnt</div>
                    <h3>Unassigned Tickets</h3>
                    <p><a href="@Url.Action("Index", "Tickets")">View Ticket Index</a></p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div class="count">@Model.TicketData.ResolvedTicketCnt</div>
                    <h3>Resolved Tickets</h3>
                    <p><a href="@Url.Action("Index", "Tickets")">View Ticket Index</a></p>
                </div>
            </div>
        </div>
    </div>
