@model BugTracker.Models.Ticket
@using Microsoft.AspNet.Identity;
@using BugTracker.Models;



<div class="">
    @*<div class="page-title">
            <div class="title_left">
                <h3>Project Detail <small> design</small></h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-md-2">
                            <h2>@Html.DisplayFor(model => model.Title)</h2>
                        </div>
                        <div id="tickinfo" class="col-md-6">
                            <span id="ticktype">Type: <a class="btn-sm btn-info">@Html.DisplayFor(model => model.TicketType.Name)</a></span>
                            <span id="tickpri">Priority: @Html.Partial("_PriorityColor")</span>
                            <span id="tickstatus">Status: @Html.Partial("_StatusColor")</span>
                        </div>
                        <div id="tickchange" class="col-md-4">
                            <a href="@Url.Action("Edit", new { id = Model.Id})" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                        </div>
                    </div>
                    @*<ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>*@
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @if (User.IsInRole("Developer"))
                        {
                            <div class="x_title">
                                <h2>Notifications</h2>
                                <div class="clearfix"></div>
                            </div>
                            foreach (var notification in Model.TicketNotifications.OrderByDescending(t => t.Id).Where(t => t.Read != true))
                            {
                                <div class="x_content bs-example-popovers">
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <a href="@Url.Action("MarkAsRead", "Tickets", new { notificationId = notification.Id, ticketId = notification.TicketId })" class="close" data-dismiss="alert" aria-label="Close" id="markAsRead">
                                            <span aria-hidden="true">×</span>
                                        </a>
                                        @notification.Subject on @notification.Created.ToString().Split(' ')[0]
                                    </div>
                                </div>
                            }

                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        }
                        <br />

                        @*<ul class="stats-overview">
                                <li>
                                    <span class="name"> Estimated budget </span>
                                    <span class="value text-success"> 2300 </span>
                                </li>
                                <li>
                                    <span class="name"> Total amount spent </span>
                                    <span class="value text-success"> 2000 </span>
                                </li>
                                <li class="hidden-phone">
                                    <span class="name"> Estimated project duration </span>
                                    <span class="value text-success"> 20 </span>
                                </li>
                            </ul>*@
                        <br />
                        @*<div id="mainb" style="height:350px;"></div>*@
                        <div>
                            @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post, new { @class = "form", role = "dialog" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("TicketId", Model.Id)

                                <div class="form-group">
                                    @*<label class="control-label col-md-3 col-sm-3 col-xs-12">Leave a comment</label>*@
                                    <div class="col-md-11 col-sm-11 col-xs-12">
                                        <textarea name="Comment" class="resizable_textarea form-control" placeholder="Leave a comment..."></textarea>
                                    </div>
                                    <div class="cold-md-1 col-sm-1 col-xs-12">
                                        <input type="submit" value="Submit" class="btn btn-sm btn-default" />
                                    </div>
                                </div>
                            }


                            <br />
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2> Comments </h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <!-- user messages -->
                                    @foreach (var comment in Model.TicketComments.OrderByDescending(c => c.Created))
                                    {
                                        <ul class="messages">
                                            <li>
                                                @{
                                                    var db = new ApplicationDbContext();
                                                    var userId = User.Identity.GetUserId();
                                                    var user = db.Users.Find(userId);
                                                }
                                                @if (user.AvatarPath != null)
                                                {
                                                    <img src="@user.AvatarPath" class="avatar" alt="Avatar" />
                                                }
                                                else
                                                {
                                                    <img src="~/Avatars/default.png" class="avatar" alt="Avatar">
                                                }

                                                <div class="message_date">
                                                    <h3 class="date text-info">@comment.Created.Day</h3>
                                                    <p class="month">@comment.Created.ToString("MMMM")</p>
                                                </div>
                                                <div class="message_wrapper">
                                                    <h4 class="heading">@comment.User.DisplayName</h4>
                                                    <blockquote class="message">@comment.Comment</blockquote>
                                                    <br />
                                                    <p>
                                                        @*<span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                                            <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>*@
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    }
                                    <!-- end of user messages -->
                                </div>
                            </div>

                        </div>
                        <!-- Ticket History -->

                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Ticket History</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayName("Property")</th>
                                            <th>@Html.DisplayName("Changed By")</th>
                                            <th>@Html.DisplayName("Changed At")</th>
                                            <th>@Html.DisplayName("Old Value")</th>
                                            <th>@Html.DisplayName("New Value")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var history in Model.TicketHistories.OrderByDescending(c => c.Changed))
                                        {
                                            <tr>
                                                <td>@history.Property</td>
                                                <td>@history.User.DisplayName</td>
                                                <td>@history.Changed.ToString().Split(' ')[0]</td>
                                                <td>@history.OldValue</td>
                                                <td>@history.NewValue</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- end Ticket History -->
                        <!-- Notification History -->
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Notification History</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayName("Notification")</th>
                                            <th>@Html.DisplayName("Recipient")</th>
                                            <th>@Html.DisplayName("Sent")</th>
                                            <th>@Html.DisplayName("Read")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var notification in Model.TicketNotifications.OrderByDescending(c => c.Id))
                                        {
                                            <tr>
                                                <td>@notification.Subject</td>
                                                <td>@notification.Recipient.DisplayName</td>
                                                <td>@notification.Created.ToString().Split(' ')[0]</td>
                                                <td>@notification.Read</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end Notification History -->
                    </div>
                    <!-- start project-detail sidebar -->
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <section class="panel">
                            <div class="x_title">
                                <h2 class="green">Project: @Html.DisplayFor(model => model.Project.Name)</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                @*<h3 class="green"><i class="fa fa-paint-brush"></i> Gentelella</h3>
                                    <p>project description</p>
                                    <br />*@
                                <div class="project_detail">
                                    <p class="title">@Html.DisplayName("Description")</p>
                                    <p>@Html.DisplayFor(model => model.Description)</p>
                                    <p class="title">@Html.DisplayName("Developer")</p>
                                    @if (Model.AssignedToUserId != null)
                                    {
                                        <p>@Html.DisplayFor(model => model.AssignedToUser.DisplayName)</p>
                                    }
                                    else
                                    {
                                        <p>Unassigned</p>
                                    }
                                    <p class="title">@Html.DisplayName("Submitter")</p>
                                    <p>@Html.DisplayFor(model => model.OwnerUser.DisplayName)</p>
                                </div>
                                <br />
                                <h5><b>Attachments</b></h5>
                                <ul class="list-unstyled project_files">
                                    @foreach (var attachment in Model.TicketAttachments.OrderByDescending(c => c.Created))
                                    {
                                        <li>
                                            <a download href=@attachment.MediaUrl>
                                                @*<span>@Html.Partial("_AttachmentIcon")</span>*@
                                                @Html.DisplayFor(model => attachment.MediaUrl.Split('/')[2].Split('.')[0])
                                            </a>
                                        </li>
                                    }
                                    @*<li>
                                            <a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
                                        </li>*@
                                </ul>
                                <br />
                                <div class="mtop20">
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Add Attachment</button>
                                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">

                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">File Uploader</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="">
                                                        <div class="clearfix"></div>
                                                        <div class="row">
                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                <div class="x_panel">
                                                                    <div class="x_title">
                                                                        <h2>Add an attachment</h2>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                    <div class="x_content">
                                                                        <p></p>
                                                                        @using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "Multipart/form-data", @class = "dropzone", role = "form" }))
                                                                        {
                                                                            @Html.AntiForgeryToken()
                                                                            @Html.Hidden("TicketId", Model.Id)
                                                                            <form action="form_upload.html" class="dropzone" name="file"></form>
                                                                            <br />
                                                                            @*<div class="form-group">
                                                                                    <div class="col-md-11 col-sm-11 col-xs-12">
                                                                                        <input name="TicketDescription" class="form-control" placeholder="Please provide a short description" />
                                                                                    </div>
                                                                                    <div class="cold-md-1 col-sm-1 col-xs-12">
                                                                                        <input type="submit" value="Submit" class="btn btn-sm btn-default" />
                                                                                    </div>
                                                                                </div>*@
                                                                        }



                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- end project-detail sidebar -->
                </div>
            </div>
        </div>
    </div>
</div>
