@model BugTracker.Models.LoginViewModel

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Demo Users</h1>
        @*<ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Blank Page
                </li>
            </ol>*@

        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("Email", "TestAdmin@Mailinator.com")
            @Html.Hidden("Password", "Abc&123!")
            <button type="submit" class="btn btn-success">Login as Test Admin</button>
        }
    </div>
    <div class="col-lg-12">
        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("Email", "TestPM@Mailinator.com")
            @Html.Hidden("Password", "Abc&123!")
            <button type="submit" class="btn btn-success">Login as Test ProjectManager</button>
        }
    </div>
    <div class="col-lg-12">
        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("Email", "TestDev@Mailinator.com")
            @Html.Hidden("Password", "Abc&123!")
            <button type="submit" class="btn btn-success">Login as Test Developer</button>
        }
    </div>
    <div class="col-lg-12">
        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("Email", "TestSubmitter@Mailinator.com")
            @Html.Hidden("Password", "Abc&123!")
            <button type="submit" class="btn btn-success">Login as Test Submitter</button>
        }
    </div>
</div>