@model BugTracker.Models.RegisterViewModel

<form>
    <h1>Create Account</h1>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div>
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", placeholder = "Display Name" })
        @Html.ValidationMessageFor(m => m.DisplayName, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
    </div>
    <div>
        <input type="submit" value="Register" class="btn btn-default submit" />
    </div>
    <div class="clearfix"></div>
    <div class="separator">
        <p class="change_link">
            Already a member ?
            <a href="#signin" class="to_register"> Log in </a>
        </p>
        <div class="clearfix"></div>
        <br />
        <div>
            <h1><i class="fa fa-bug"></i> BugTracker!</h1>
            <p>©2018 Nicole Iman</p>
        </div>
    </div>
</form>

